<!DOCTYPE html>
<html>
  <head>
    <title>rizz' blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">rizzwizz Blog</a></h1>
    </header>

    <article>
      <time>published: 14.06.2014, 12:14</time>
      <h2><a href="">My first post</a></h2>
      <p>How are you doing guys! Welcome</p>
    </article>

    <article>
      <time>published: 14.06.2014, 12:14</time>
      <h2><a href="">Yeah I dont like this writing part</a></h2>
      <p>Look at this again typing</p>
    </article>
  </body>
</html>
